<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="foo,bar"/>
        <meta name="description" content="foo"/>
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>Accounts</h1>
                <table>
                    <thead>
                        <tr>
                            <th colspan="1">Name</th>
                            <th colspan="1">Number</th>
                            <th colspan="1">Number of receipts</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for list in accounts.all %}
                        <tr>
                            <td> {{ list.name }} </td>
                            <td> {{ list.number }}</td>
                            <td> {{ list.receipts.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </main>
    </body>
</html>
