<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="keywords" content="foo,bar"/>
    <meta name="description" content="foo"/>
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Create a Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
               </form>
        </div>
    </main>
</body>
</html>
