<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="keywords" content="foo,bar"/>
        <meta name="description" content="foo"/>
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'category_list' %}">Category list</a></li>
                    <li><a href="{% url 'account_list' %}">Account List</a></li>
                    <li><a href="{% url 'create_category' %}">Create Category</a></li>
                    <li><a href="{% url 'create_account' %}">Create Account</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>My Receipts</h1>
                <table>
                    <thead>
                        <tr>
                            <th colspan="1">Vendor</th>
                            <th colspan="1">Total</th>
                            <th colspan="1">Tax</th>
                            <th colspan="1">Date</th>
                            <th colspan="1">Category</th>
                            <th colspan="1">Account</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipts.all %}
                        <tr>
                            <td> {{ receipt.vendor }} </td>
                            <td> {{ receipt.total }}</td>
                            <td> {{ receipt.tax }} </td>
                            <td> {{ receipt.date|date:"m/d/y"}}</td>
                            <td> {{ receipt.category }}</td>
                            <td> {{ receipt.account }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </main>
    </body>
</html>
